

<div class="row">
  <div class="col s12 m6 offset-m8">
    <div class="row ">
      <div class="col card rosita">
        <img src="assets/english.gif" routerLink="/en" (click)="cambiarIdioma('en')" alt="Cambiar a español" height="42" width="42">
      </div>
      <div class="col card rosita" >
        <img src="assets/spanish.gif"  routerLink="/es" (click)="cambiarIdioma('es')" alt="Change to english" height="42" width="42">
      </div>
    </div>
  </div>
</div>

<div  *ngIf="idioma=='es'">
  <app-main-test-in-spanish></app-main-test-in-spanish>
</div>

<div *ngIf="idioma=='en'">
  <app-main-test-in-english></app-main-test-in-english>
</div>
